{% extends "email/base.html" %}
{% block preheader %}Reset your {{ site_name }} password. This link expires in 1 hour.{% endblock %}
{% block eyebrow %}Security{% endblock %}
{% block heading %}Reset your password{% endblock %}
{% block content %}
<p style="margin:0 0 16px 0;">Namaste {{ full_name }},</p>
<p style="margin:0 0 16px 0;">We received a request to reset the password for your {{ site_name }} account. If you made this request, continue with the button below.</p>
<p style="margin:0 0 0 0;">This link expires in 1 hour and can be used once. If you did not ask for a reset, you can ignore this message and your password will stay the same.</p>
{% endblock %}
